html, body {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

* {
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
}

.container {
    margin: 20px;
    padding: 30px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background: linear-gradient(-30deg, #6227b0, #3F51B5);

    display: inline-flex;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
}

.container > h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #42e699;
}

.container > p {
    font-size: 16px;
    font-weight: 100;
    font-family: monospace;
}